* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: lightcyan;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 35px 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: white;
  font-weight: 600;
  transition: 0.6s ease;
}

.logo:hover {
  color: orangered;
  text-shadow: 0 0 40px orangered;
  transform: scale(1.1);
}
span {
  color: red;
}
.navbar a {
  font-size: 18px;
  color: white;
  font-weight: bolder;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.4s ease;
}
.navbar a:hover,
.navbar a.active {
  color: orangered;
  border-bottom: 3px solid darkorange;
}
.contact {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
  transition: 0.4s ease;
}
.contact:hover {
  background-color: red;
  color: white;
  text-shadow: 0 0 5px orangered;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 30px 12% 0;
  position: relative;
  background-color: gainsboro;
}
.home-content {
  max-width: 800px;
}
.home-content h3 {
  font-size: 42px;
}

.home-content h1 {
  font-size: 62px;
  line-height: 1.2;
}
.home-content p {
  font-size: 18px;
  margin: 25px 0 30px;
  font-weight: 530;
  color: rgb(107, 89, 89);
}
.btn-box {
  width: 345px;
  display: flex;
  gap: 30px;
}
.btn1 {
  padding: 15px 28px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn1:hover {
  background-color: orangered;
  color: black;
  border: 2px solid white;
}

.btn2 {
  padding: 15px 28px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn2:hover {
  background-color: green;
  color: white;
  border: 2px solid white;
}

.img-box {
  position: absolute;
  bottom: -0.1px;
  right: 180px;
}
.img-box img {
  border-radius: 50%;
  width: 463px;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(244, 93, 38);
}
::-webkit-scrollbar-track {
  background-color: black;
  width: 20px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 8%;
  gap: 10em;
  background-color: black;
}

.about-img img {
  position: relative;
  width: 450px;
  box-shadow: 0 0 25px orangered, 0 0 50px orangered;
  border-radius: 50%;
}
.about-content h2 {
  color: white;
  text-align: left;
  font-size: 42px;
}
.about-content h3 {
  color: white;
  font-size: 62px;
  margin-top: 20px;
}
.about-content p {
  color: white;
  font-size: 20px;
  margin: 2em 0 3em;
}
#fresh {
  background-color: red;
}

.contact-form {
  background-color: lightcyan;
}

.contact-form h2 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 45px;
}
.contact-form form {
  max-width: 50em;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 5em;
}
.contact-form form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea {
  width: 100%;
  padding: 1em;
  font-size: 18px;
  color: black;
  background-color: rgb(243, 255, 255);
  border-radius: 0.8rem;
  margin: 1rem;
  resize: none;
}

/*  */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: black;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer .social a{
    font-size: 34px;
    color: white;
    display: inline-block;
    margin: 0 8px;
    
}
.footer .social a:hover{
    color: red;
}
.footer ul{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.6;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.4s ease;
    font-size: 20px;
}
.footer ul li a:hover{
    border-bottom: 4px solid orangered;
}